/*adds font, background color, margin, padding to page*/
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  /*adds background color to start and end element sections*/
  #start,
  #end {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
  }

  /*hides the quiz container and end which displays the high scores. used functions to display these areas when a button was clicked*/
  #quiz-container,
  #end {
    display: none;
  }
  
  /*takes away the bullets and defines the padding for the list*/
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  /*defines the background color of list items, font color, padding, margin and border radius*/
  li {
    background-color: rgb(235, 123, 142);
    color: #fff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
  }
  
  /*changes color when you hover over a list item*/
  li:hover {
    background-color: #e91764;
  }
  
  /*defines the backgroun color,padding, font size, border and margins of the buttons*/
  button {
    background-color: pink;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  /*changes color of the button when you hover over it*/
  button:hover {
    background-color: rgb(235, 123, 142);
  }